body {
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    background: #1c1c1c;
    color: #b2b2b2;
}

a {
    color: #7070dd;
}

pre {
    font-family: "Lucida Console","Liberation Mono","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace,serif;
}

.logo {
    font-size: 200%;
    margin: .5em;
    color: #dddddd;
    text-shadow:#000000 4px 4px 8px;
}

.logo strong {
    color: #ee8800;
}

nav ul {
    font-size: 125%;
    list-style-type: none;
    overflow: hidden;
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    border: 1px solid #303030;
    background: #282828;
}

nav li a {
    text-decoration: none;
}
nav li.inactive a {
    color: #888;
}
nav li.active a {
    font-weight: bold;
    color: #ddd;
}

nav li {
    display: inline;
    padding: 5px 10px;
}

nav li.inactive {
    border: 1px solid #303030;
    background: #282828;
}

nav li.active {
    background: #383838;
    border: 1px solid #505050;
}

div.message {
    margin: 1em;
    border: 2px solid #ffff00;
    background: #600000;
    text-align: center;
    padding: 0.2em;
}

div.message p.message {
    font-weight: bold;
    font-size: 130%;
    color: #ffff00;
}

div.message p.hint {
    font-weight: normal;
    font-size: 110%;
    color: #cccc00;
}

div.message p.hint a {
    color: #cccc00;
}

div.content {
    padding: 1em;
}

div.footer {
    margin-top: 1em;
    border-top: 1px solid #252525;
    font-size: 75%;
}

div.footer .copyright {
    float: right;
}

input, textarea, select, button {
    background: #303030;
    color: inherit;
    font-size: 110%;
    border: 1px solid #cccccc;
}

input, textarea {
    padding: 0.2em;
}

select {
    font-size: 100%;
}

button.submit {
    margin-top: 0.3em;
    margin-left: 2em;
    padding: 0.5em 2em 0.5em 2em;
    font-weight: bold;
    color: #cccccc;
}

.extraInput {
    position: absolute;
    left: -999em;
}

#new-paste #title { display: block; width: 80%; }

#new-paste #paste { display: block; width: 80%; height: 300px; }

div.history h1 {
    font-size: 150%;
    font-weight: bold;
    padding-left: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

div.history ol {
    list-style-type: disc;
    background: #202020;
    padding-left: 2em;
    margin-left: 1em;
}

div.history span {
    display: inline-block;
    width: 2em;
}

div.history li  {
    margin-top: 0.2em;
}

.contact div.content h1 {
    font-size: 150%;
    font-weight: bold;
    padding-left: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.contact div.content p {
    margin-top: 0.5em;
}

.show h1 {
    font-size: 125%;
    font-weight: bold;
    background: #202020;
    padding: 0.5em;
    margin-bottom: 12px;
    color: #cccccc;
}

.show h2 {
    font-size: 120%;
    color: #40bb40;
    border-bottom: 1px solid #404040;
    padding-left: 0.5em;
    padding-top: 0.3em;
    padding-bottom: 0.2em;
}

.show pre {
    background: #202020;
    border: 1px solid #303030;
    padding: 0.3em;
    line-height: 120%;
}

.show .br0 {
    color: #d787d7;
}
.show .kw1 {
    color: #d7d7af;
}
.show .kw1_c {
    color: #d7d7af;
}
.show .kw1_l {
    color: #d7d7af;
}
.show .kw1_u {
    color: #d7d7af;
}
.show .kw2 {
    color: #87d787;
}
.show .kw2_c {
    color: #87d787;
}
.show .kw2_l {
    color: #87d787;
}
.show .kw2_u {
    color: #87d787;
}
.show .kw3 {
    color: #d7d7af;
}
.show .kw3_c {
    color: #d7d7af;
}
.show .kw3_l {
    color: #d7d7af;
}
.show .kw3_u {
    color: #d7d7af;
}
.show .nu0 {
    color: #87d7d7;
}
.show .st0 {
    color: #d78787;
}
.show .sy0 {
    color: #878787;
}

/* for block of numbers */
.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: right;
    color: #777;
    font-size: 90%;
    border-right: 1px solid #555;
    vertical-align: top;
    padding-left: 5px;
    padding-right: 10px;

    /* your custom style here */
}

/* for block of code */
.hljs-ln-code {
    padding-left: 10px;
}

/* For when there is just single-line */
pre.hljs {
    padding-left: 10px;
}

.display-option {
    display: none;
}

#displayMenu {
    list-style-type: none;
    display: flex;
    padding-left: 20px;
    align-items: flex-end;
}

#displayMenu li {
    display: inline;
    padding: 5px 20px;
    border-radius: 10px 10px 0px 0px;
}

#displayMenu li.active {
    color: #ddd;
    background: #383838;
    border: 1px solid #505050;
}

#displayMenu li.inactive {
    color: #888;
    border: 1px solid #303030;
    background: #282828;
    font-size: 80%;
}

/* Start of >> Handling of "copy to clipboard" << */
code.copy-src {
    display: none;
}
button.copy {
    margin-top: 0.1em;
    margin-left: 1em;
    padding: 0.1em 0.5em;
    color: #cccccc;
}
button.copy:hover, button.copy:focus {
    color: #ffff00;
    background: #404040;
    border: 1px solid #dddd00;
}
/* End of >> Handling of "copy to clipboard" << */

form.editnew {
    display: inline-block;
}
